@charset "utf-8";

* {margin:0; padding:0; box-sizing: border-box;}

#layout {
    max-width:600px; margin:auto; border:3px solid black;
    overflow: hidden; position:relative;
}
a {
    text-decoration: none; color:black;
}

/*********************/

iframe#header {            
    position:fixed; top:0; left:0; width:100vw; height:100px; z-index: 1;
    border:none;
}
iframe#header.slide {height: 100vh;}



/*********************/

main {
    text-align: center;
}
#index main img {
    display:block; height:80vh; margin-left:10vw;
}
#about main img {
    display:block; height:80vh; margin-left:10vw;
}
#work main img {
    display:block; height:80vh; margin-left:10vw;
}

/*********************/

footer {
    background: black; padding:30px; text-align: center;
    position:fixed; left:0; bottom:0; width:100%;
}
footer nav a {
    color:white; padding:5px; margin:5px;
}